---
import { LitTest } from "@mcneilweb/ui";
import Layout from "~/layouts/Layout.astro";
const title = "@mcneilweb/ui";
---

<Layout title={title}>
  <main class="limit">
    <h1>{title}</h1>
    <LitTest client:only="lit" />
  </main>
</Layout>
