---
import Layout from '~/layouts/Layout.astro';
const demos = [
  {
    display: '@mcneilweb/ui',
    url: '/ui'
  },
  {
    display: 'Sudoku',
    url: '/sudoku'
  }
];
const title = '@mcneilweb/demos';
---

<Layout title={title}>
  <main class="limit">
    <h1>{title}</h1>
    <ul>
      {
        demos.map((demo) => (
          <li>
            <a href={demo.url}>{demo.display}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
